@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import 'vars';
@import 'extends';
@import 'welcome_part';
* {
  padding: 0;
  margin: 0;
  outline: none;
}
body {
  font-family: 'Rubik', sans-serif;
}
.main {
  background-image: url('../assets/img-bgs/bg-2.jpg');
  background-size: cover;
  height: 100vh;
  position: relative;
  @media (min-width: 360px) and (max-width: 576px) {
    height: 100%;

  }
  .row {
    @extend %position_center;
    margin: 0;
    .col {
      text-align: center;
      // padding: 0;
      // margin: 0;
      .title {
        @extend %text_with_span;
        @media (min-width: 360px) and (max-width: 576px) {
          font-size: 19px;
          width: 329px;
          margin: 60px auto 10px auto;
          // padding-left: 10px;
        }
      }
    }
  }
    .form {
      form {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 640px;
        padding: 20px;
        @media (min-width: 360px) and (max-width: 576px) {
          flex-direction: column;
          width: 100%;
          padding: 0;
          // padding-left: 10px;
        }
        div {
          align-self: center;
        }
        input, select {
          width: 255px;
          height: 56px;
          margin: 12px 0 8px 0;
          background-color: $elements_bg;
          border: 1px solid #FFFFFF;
          border-radius: 5px;
          color: $main-text-color;
          font-size: 19px;
          font-weight: 300;
          padding-left: 45px;
          padding-top: 3px;

          &:focus {
            border-color: $main-color;
          }
        }


        @media (min-width: 360px) and (max-width: 576px) {
          input {
            width: 285px;
          }
          select {
            width: 330px!important;
           }
        }
        select {
          width: 300px;
          padding-left: 40px;
          option {
            color: #5E5E5E;
            font-size: 15px;
            font-weight: 300;
            width: 300px;
            background: #FFFFFF;
            overflow: hidden;


            &:hover {
              color: #212121;
            }
          }
        }
        button {
          width: 165px;
          height: 56px;
          background: $main-color;
          font-size: 19px;
          font-weight: 600;
          padding: 8px 18px;
          border: 0px;
          border-radius: 5px;
          color: #000000;
          margin-top: 15px;
          transition: all 0.3s ease;
          cursor: pointer;
          &:hover {
            background: $elements_bg;
            color: $main-color;
            border: 1px solid $main-color;
          }
          @media (min-width: 360px) and (max-width: 576px) {
            width: 330px;
            margin-bottom: 120px;
          }
        }
        .agreement {
          display: flex;
          width: 300px;
          height: 56px;
          margin: 10px 0;
          align-items: center;
          @media (min-width: 360px) and (max-width: 576px) {
            width: 330px;          }
          &:hover {
            label {
              a {
                border-bottom: 1px solid #FFFFFF;
              }
            }
            .agree {
              background-color: $main-color;
              border: 1px solid #69dbb9;

            }
          }
          input {
            height: 20px;
            width: 20px;
            border-radius: 3px;
            margin-right: 10px;
            cursor: pointer;
            display: none;
          }
          .agree {
            height: 20px;
            width: 20px;
            border-radius: 3px;
            border: 1px solid $main-color;
            margin-right: 10px;
            transition: all 0.3s ease;
          }
          .agree::before {
            display: inline-block;
            text-align: center;
            height: 20px;
            width: 20px;
            line-height: 20px;
            margin-right: 10px;
            background-color: $main-color;
            background-image: url("../assets/icons/check_icon.svg");
            background-size: cover;
            transition: all 0.3s ease;
          }
          input:checked + .agree::before {
            content: " ";
          }

          label{
            color: $main-text-color;
            font-size: 15px;
            font-weight: 300;
            a {
              color: $main-color;
              text-decoration: none;
              border-bottom: 1px solid $main-color;
              transition: all 0.3s ease;

            }
          }
        }
        .input_container {
          position: relative;
          display: flex;
          align-items: center;
          label {
            color: $main-text-color;
            font-size: 19px;
            font-weight: 300;
            position: absolute;
            left: 45px;
            top: 31px;
            transition: all 0.3s ease;
          }
          input:focus ~ label  {
            font-size: 11px;
            color: $main-color;
            top: 20px;
          }
          input:not(:placeholder-shown) ~ label {
            font-size: 11px;
            color: $main-color;
            top: 20px;
          }
          select:focus ~ #country_placeholder {
            font-size: 11px;
            color: $main-color;
            top: 20px;
          }
          input:not(:placeholder-shown) {
            background-color: $elements_bg_filled;
          }
          img {
            position: absolute;
            left: 15px;
            top: 31px;
          }
        }
        .error {
          color: #DA5050;
          font-size: 10px;
          font-weight: 500;
          text-align: right;
          opacity: 0;
        }
      }
    }
    .bottom_text {
      position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;
      color: $main-text-color;
      font-size: 15px;
      font-weight: 300;
      a {
        text-decoration: none;
        color: $main-color;
        border: 0;
        border-bottom: 1px solid $main-color;
        background: transparent;
      }
      @media (min-width: 360px) and (max-width: 576px) {
        bottom: 50px;

      }
    }
  }

.checkbox_error{
  background-color: #DA5050;
  border-color: #DA5050!important;
}
.error_show {opacity: 100!important}
.placeholder_up{
  font-size: 11px!important;
  color: $main-color!important;
  top: 20px!important;
}
.input_container, .agreement {
  transform: translateY(80px);
  opacity: 0;
}
[data-scroll] {
  transition: all 1s;
}

.input_1[data-scroll="in"] {
  transition: 0.3s;
  transition-delay: 0.8s;
  transform: translateY(0px);
  opacity: 1;
}
.input_1[data-scroll="out"] {
  transition: 0.3s;
  transition-delay: 0.8s;
  transform: translateY(50px);
  opacity: 0;

}
.input_2[data-scroll="in"] {
  transition: 0.3s;
  transition-delay: 1s;
  transform: translateY(0);
  opacity: 1;

}
.input_2[data-scroll="out"] {
  transition: 0.3s;
  transition-delay: 1s;
  transform: translateY(50px);
  opacity: 0;

}
.input_3[data-scroll="in"] {
  transition: 0.3s;
  transition-delay: 1.2s;
  transform: translateY(0);
  opacity: 1;

}
.input_3[data-scroll="out"] {
  transition: 0.3s;
  transition-delay: 1.2s;
  transform: translateY(50px);
  opacity: 0;

}
.input_4[data-scroll="in"] {
  transition: 0.3s;
  transition-delay: 1.4s;
  transform: translateY(0);
  opacity: 1;

}
.input_4[data-scroll="out"] {
  transition: 0.3s;
  transition-delay: 1.4s;
  transform: translateY(50px);
  opacity: 0;

}
.input_5[data-scroll="in"] {
  transition: 0.3s;
  transition-delay: 1.6s;
  transform: translateY(0);
  opacity: 1;

}
.input_5[data-scroll="out"] {
  transition: 0.3s;
  transition-delay: 1.6s;
  transform: translateY(50px);
  opacity: 0;

}
.input_6[data-scroll="in"] {
  transition: 0.3s;
  transition-delay: 1.8s;
  transform: translateY(0);
  opacity: 1;

}
.input_6[data-scroll="out"] {
  transition: 0.3s;
  transition-delay: 1.8s;
  transform: translateY(50px);
  opacity: 0;

}
.input_7[data-scroll="in"] {
  transition: 0.3s;
  transition-delay: 2s;
  transform: translateY(0);
  opacity: 1;

}
.input_7[data-scroll="out"] {
  transition: 0.3s;
  transition-delay: 2s;
  transform: translateY(80px);
  opacity: 0;

}
.input_8[data-scroll="in"] {
  transition: 0.3s;
  transition-delay: 2.2s;
  transform: translateY(0);
  opacity: 1;
}
.input_8[data-scroll="out"] {
  transition: 0.3s;
  transition-delay: 2.2s;
  transform: translateY(80px);
  opacity: 0;

}
.section_2_images {
  position: absolute;
  z-index: 0;
  height: 100vh;
  overflow: hidden;
  .section_2_first_img {
    position: relative;
    top: 40%;
    right: 3%;
    @media (min-width: 360px) and (max-width: 576px) {
      width: 93px;
      height: 93px;
      left: -53%;
      top: 75%;
    }
  }
  .section_2_second_img {
    position: relative;
    top: 10%;
    left: 81%;

    @media (min-width: 360px) and (max-width: 576px) {
      width: 114px;
      height: 91px;
      left: 60%;
      top: 0%;
    }
  }
  .section_2_third_img {
    position: relative;
    top: 80%;
    left: 40%;
    @media (min-width: 360px) and (max-width: 576px) {
      width: 107px;
      height: 107px;
      left: 30%;
      top: 80%;
    }
  }
}
